/* STILE PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    flex: 0 0 auto;
}

